@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
	--header: #000000;
	--border: #d0d0d0;
	--primary: #7126b5;
	--secondary: #ffffff;
}

.register_container {
	margin: 0;
	padding: 0;
}

.register_img {
	width: 575px;
	height: auto;
}

.register_right > h2 {
	font-family: Poppins;
	color: var(--header);
	margin-top: 25vh;
	margin-left: 5px;
}

label {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	padding-top: 20px;
	margin: 10px 12px 8px 12px;
}

.input_box {
	border: 1px solid var(--border);
	margin-left: 10px;
	border-radius: 16px;
	padding: 12px;
	width: 98%;
}

.footer > p {
	font-family: Poppins;
	text-align: center;
	margin: 75px 35px 0px 0px;
}

.btn_login {
	background-color: var(--primary);
	color: var(--secondary);
	font-family: Poppins;
	border: none;
	border-radius: 16px;
	padding: 12px 24px;
	width: 100%;
	margin-top: 50px;
}

.daftar {
	text-decoration: none;
	margin-left: 5px;
	color: var(--primary);
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: capitalize;
}

@media screen and (max-width: 768px) {
	.register_right {
		margin-left: 20.5px;
	}

	.arrow-svg {
		margin: 50px 0px 0px 20.5px;
	}

	.register_right > h2 {
		font-size: 24px;
		line-height: 36px;
		margin: 35px 0px 40px 8px;
		font-weight: 700;
	}

	.login_label {
		margin-left: 10px;
	}

	.input_box {
		border: 1px solid var(--border);
		margin-left: 1px;
		border-radius: 16px;
		padding: 12px 16px;
		width: 85%;
	}

	.btn_login {
		background-color: var(--primary);
		color: var(--secondary);
		font-family: Poppins;
		border: none;
		padding: 12px 24px 12px 24px;
		border-radius: 16px;
		margin: 30px 0px 0px 10px;
	}

	.footer {
		text-align: center;
		margin: 100px 35px 0px 0px;
	}

	.footer > a {
		text-decoration: none;
	}
}
